@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&display=swap');

body {
    background-image: url(Image/bg2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: "BBH Sans Bartle", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.center {
    text-align: center;
    color: green;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.youtube {
    color: aqua;
}

#Up {
    color: blanchedalmond;
}

.main_link {
    color: red;
    text-decoration: none;
}

.main_link:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

/* свойство при наведении */


/* Its comment in CSS */